body {
    background-color: #eef1f6;
}

h1 {
    color: #2f61a2;
    font-family: 'Montserrat', sans-serif;
}

canvas { margin: 0 auto; display: block; border-radius: 25px;}


nav,ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffff;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 8px 2px -2px rgba(0,0,0,.2);
}

li {
  float: left;
}

li a {
    color: #2f61a2;
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
  color: gray;
}

.active {
    background-color: aliceblue;
}

#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}
.file-form {
  width: 50%;
  margin: 0 auto; 
}

.title {
  text-align: center;
  padding-top: 5%;
}


